body {
    background-color: white;
}
#leftside {
    float: left;
    width: 30%;
    margin: 5px;
    background-color: blanchedalmond;
}
#rightside {
    float: left;
    width: 70%;
    background-color: blanchedalmond;
}